/* tipografia */
/* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Estilos para el header */

header {
    background-color: #333; /* Color de fondo del header */
    padding: 10px 0; /* Espaciado interno del header */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajuste del espacio alrededor de los elementos */
  }
  
  .logo img {
    width: 100px; /* Ancho de la imagen del logo */
    height: auto; /* Altura automática para mantener la proporción */
  }
  
  nav ul {
    list-style: none; /* Quitamos los estilos de lista */
    display: flex;
  }
  
  nav li {
    margin-right: 20px; /* Espaciado entre elementos de la lista de navegación */
  }
  
  nav li:last-child {
    margin-right: 0; /* Quitamos el margen derecho del último elemento de la lista */
  }
  
  nav li a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitamos el subrayado de los enlaces */
    font-weight: bold; /* Estilo de fuente en negrita */
  }
  
  /* Estilos adicionales según sea necesario */
  


.logo{
    display: flex;
}

/*---- Navegacion ----*/

nav li {
    display: inline-block;
    padding: 10px;
}

nav li a {
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}


/* --- Main General --- */


h1 {
    color: wheat;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
}

.dune {

    background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
    font-size: 30px;
}

.series-padre{
    display: flex;
    flex-direction: column;
}

.iframe-padre{
    display: flex;
}

iframe{
    display: flex;
    width: 100%;
    height: 40rem;

}

.bordes-redondeados {
    border-radius: 8px;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.imagenes img {
    width: 300px;
    height: 400px;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    align-self: center;
}


.form input {
    display: block;
}

.portada-peli {
    width: 1400px;
    height: 530px;
}

/*--- MI LISTA ---*/

.h2-peli img {
    width: 300px;
    height: 400px;
}

h2 {
    margin-block: 10px;
}

.separacion-titulos {
    margin-block: 10px;
}

/* Estilo para FORMULARIO */

.form input {
    margin-bottom: 15px;
    margin: 10px;
}

.form select {
    margin-bottom: 15px;
    margin: 10px;
}

.motivo-consulta {
    margin-left: 10px;
}

.newsletter {
    margin-left: 10px;
}

.opcion-no {
    margin-left: 10px;
}

.opcion-si {
    margin-left: 10px;
}

.text-area {
    margin-left: 10px;
}

.boton {
    padding: 10px;
    
}

.footer {
    display: flex;
    justify-content:space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 4%;
}

.img-footer{
    width: 3rem;
    height: 2rem;
    padding-inline: 10px;
}

.footer-series{
    display: flex;
    justify-content:space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 4%;
}

.img-footer-series{
    width: 2rem;
    height: 2rem;
    padding-inline: 10px;
}

.img-footer-peli{
    width: 2rem;
    height: 2rem;
    padding-inline: 10px;
}

.img-footer-lista{
    width: 2rem;
    height: 2rem;
    padding-inline: 10px;
}

.footer-contacto{
    display: flex;
    justify-content:space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 4%;
}

.img-footer-contacto{
    width: 2rem;
    height: 2rem;
    padding-inline: 10px;
}

 .priv-terminos { 
    list-style-type: none;
    padding: 0;
    text-align: right;
}

 .priv-terminos li {
    display: inline;
    margin-right: 10px;
}

.priv-terminos li a {
    text-decoration: none;
    color: white;
}

.opcion-suscripcion {
    display: flex;
}

.opcion-si,
.opcion-no {
    margin-right: 20px; /* Espacio entre las opciones */
    display: flex;
}

body {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.ver-btn{
    color: white;
    font-weight: bold;
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    margin-bottom: 15px;
    margin: 10px;
    padding: 10px;
    width: 80px;
    align-self: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section{
    display: flex;
    flex-direction: column;
}

.prueba{
    flex-direction: column;
}